<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">Art Institute Of Chicago</a>
    <a class="nav-item nav-link" routerLink="/table"></a>
    <a class="nav-item nav-link" style="color: rgb(255, 255, 255); font-size: 18px;" routerLink="/table"><i class="fa-solid fa-palette"></i> Artworks</a>
    <a class="nav-item nav-link" routerLink="/table"></a>
    <a class="nav-item nav-link" routerLink="/favourites"  style="color: rgb(255, 255, 255); font-size: 18px;"> <i class="fa-solid fa-heart"></i> Favourites</a>
    <a class="nav-item nav-link" routerLink="/table"></a>
 </nav>
<router-outlet></router-outlet>
